@using Microsoft.AspNetCore.Identity

<style>
    .landing {
        background: url("https://images.pexels.com/photos/4665064/pexels-photo-4665064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center;
        background-size: cover;
        height: 100vh;
    }

    .landingContent {
        margin: 375px 0;
    }

    .appTitle {
        color: #fff;
    }
</style>

<div class="landing">

    <div class="landingContent">
        <div class="col d-flex justify-content-center">
            <h3 class="appTitle">Bug Tracker Pro</h3>
        </div>

        <div class="col d-flex justify-content-center align-items-center mt-3">
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-light">Try it out</a>
        </div>
    </div>


</div>