@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout - Landing Page.cshtml";
}

<div class="col d-flex justify-content-center">
    @*<img class="landingImage img-fluid" src="img/LandingPageImg1.jpg" />*@
    <h1>Issue Tracker Pro</h1>
</div>
